 /* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Cao Le Hoang Minh
ID: s3979628
Acknowledgement: 
-Logo,images and product descriptions from Fahasa.com
-Social media icons from Font Awsome
-Breadcrumbs icons from Heroicons */
 body {
     margin: 0;
     background-color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif
 }


 .category {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     padding: 0px 200px;
 }

 .product {
     width: calc(33.33%-40px);
     margin-bottom: 40px;
 }

 .category-heading {
     margin-left: 75px;
 }

 .see-more {
     border-radius: 5px;
     text-align: center;
     margin: 0 100px;
 }

 .see-more a {
     text-decoration: underline;
     color: #000;
 }

 .see-more {
     border: none;
     color: white;
     cursor: pointer;
     font-size: 18px;
     padding: 10px 20px;
     transition: transform 0.9s ease;
 }

 .see-more:hover {
     background: whitesmoke;
     color: #fff;
     transform: translateY(-3px);
 }

 .video-container {
     margin: 0 100px;
     display: flex;
     justify-content: space-around;
     padding-top: 20px;
     padding-bottom: 70px;
 }

 .video1 {
     max-width: fit-content;
 }

 .video-heading {
     margin: 0 auto;
     text-align: center;
 }

 div {
     display: block;
 }

 img {
     width: 250px;
     height: auto;
     object-fit: cover;
 }

 header {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     position: sticky;
     top: 0;
     background: whitesmoke;
     padding: 1em;

 }

 .navbar {
     display: block;
 }

 .navbar__container {
     display: flex;
     margin: 0 auto;
     background-color: none;
     max-width: fit-content;
     min-width: fit-content;
     padding: 0.5rem 2rem;
     gap: 0.5rem;
     align-items: center;
     justify-content: space-between;
     white-space: nowrap;
 }


 .navbar__container-item {
     display: block;
     padding: 0.75rem 1.5rem;
     border-radius: 0.5rem;
     transition: all 300ms ease;
 }

 .navbar__container-item:hover {
     background: rgba(0, 0, 0, 0.05);
 }

 a {
     text-decoration: none;
     color: red;
 }

 .footer {
     background-color: whitesmoke;
     margin: 0;
 }

 .footer1 {
     flex: 1;
     margin-bottom: 50px;
     color: red;
     padding: 20px;
 }

 .socialIcons {
     padding: 20px;
     display: flex;
     justify-content: center;
 }

 .socialIcons a {
     text-decoration: none;
     padding: 10px;
     background-color: #fff;
     margin: 10px;
     border-radius: 50%;
 }

 .socialIcons a i {
     font-size: 2em;
     color: red;
     opacity: 0.9;
 }

 .socialIcons a:hover {
     background-color: whitesmoke;
     transition: 0.5s;
 }

 .socialIcons a {
     background-color: white;
     transition: 0.5s;
 }

 .footer2 {
     margin: 0px;
 }

 .footer2 ul {
     display: flex;
     justify-content: center;
     padding: 20px;
     margin: 0px;
 }

 .footer2 ul li {
     margin: 10px;
     font-size: 1em;
     text-decoration: none;
     opacity: 0.6;
 }

 .footer2 ul li:hover {
     opacity: 1;
 }

 .footerbottom {
     text-align: center;
     padding: 5px;
     background-color: whitesmoke;
     margin: 0;
     font-size: 14px;
 }

 .desinger {
     opacity: 0.7;
     font-weight: 500;
     margin: 0 5px;

 }

 @media (max-width:700px) {
     .footer2 ul {
         flex-direction: column;
     }

     .footer2 ul li {
         width: 100%;
         text-align: center;
         padding: 10px;
     }

 }

 h2 {
     color: red;
 }

 h3 {
     color: black;
 }

 p {
     color: black;
     font-size: 15px;
 }

 h4 {
     color: red;
 }

 button,
 .btn {
     background: #f46b45;
     border: none;
     border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     color: #fff;
     cursor: pointer;
     font-size: 18px;
     padding: 10px 20px;
     transition: transform 0.3s ease;
 }

 button:hover,
 .btn:hover {
     background: red;
     color: #fff;
     transform: translateY(-3px);
 }

 @media (max-width:960px) {
     .navbar__container {
         display: none;
     }
 }

 .product {
     text-align: center;
     flex: 2;
 }

 fieldset {
     margin: 0 auto;
     border: none;
     border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     padding: 20px;
     width: 300px;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 input {
     padding: 10px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 5px;
 }


 select {
     padding: 10px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 5px;
 }

 label {
     display: block;
     margin-bottom: 5px;
     font-size: 16px;
 }

 input[type="checkbox"],
 input[type="radio"] {
     display: inline-block;
     margin-right: 10px;
 }

 input[type="submit"],
 input[type="reset"] {
     padding: 10px;
     font-size: 16px;
     border: none;
     background-color: #007bff;
     color: #fff;
     border-radius: 5px;
     cursor: pointer;
 }

 input[type="submit"]:hover,
 input[type="reset"]:hover {
     background-color: #0069d9;
 }

 .error {
     color: red;
     font-size: 14px;
     margin-top: 5px;
 }

 .bookpage_container {
     display: flex;
     flex-wrap: wrap;
     justify-content: inherit;
     margin-top: 50px;
     padding-left: 70px;
     padding-right: 70px;
 }

 .bookpage_item {
     width: calc(33.3%-40px);
     margin-bottom: 40px;
 }

 .main_image {
     height: auto;
     max-width: 100%;
     display: block;
     margin: 0 auto;
     width: max-content;
 }

 .sub_image {
     width: 100px;
     height: auto;
 }

 .book_info {
     display: flex;
     flex: 1;
     align-items: center;
     flex-direction: column;
 }

 .book_name {
     color: red;
     padding: 0px;
 }

 #book_price {
     color: red;
     margin: 0 auto
 }

 .book_description {
     margin: 0px 70px;
 }

 @media (max-width:960px) {
     .bookpage_container {
         padding-left: 5px;
         padding-right: 5px;
     }

     .book_description {
         margin: 10px;
     }

     .bookpage_container {
         margin-left: 0px;
     }

     .bookpage_item {
         display: flex;
     }
 }

 .logo {
     display: flex;
     margin: 0 auto;
     cursor: pointer;
 }

 span {
     color: black;
 }

 #menu-toggle:checked+.menu-button-container .menu-button::after {
     margin-top: 0px;
     transform: rotate(-405deg);
 }





 html,
 body {
     margin: 0px;
     height: 100%;
 }

 * {
     box-sizing: border-box;
 }

 .menu {
     display: none;
     margin-bottom: 5px;
     list-style-type: none;
     margin: 0;
     padding: 0;

 }

 .menu>li {
     margin: 0 1rem;
     overflow: hidden;
 }

 .menu-button-container {
     display: none;
     height: 100%;
     width: 30px;
     cursor: pointer;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 #menu-toggle {
     display: none;
 }

 .menu-button,
 .menu-button::before,
 .menu-button::after {
     display: block;
     background-color: red;
     position: absolute;
     height: 4px;
     width: 30px;
     transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
     border-radius: 2px;
 }

 .menu-button::before {
     content: '';
     margin-top: -8px;
 }

 .menu-button::after {
     content: '';
     margin-top: 8px;
 }

 #menu-toggle:checked+.menu-button-container .menu-button::before {
     margin-top: 0px;
     transform: rotate(405deg);
 }

 #menu-toggle:checked+.menu-button-container .menu-button {
     background: rgba(255, 255, 255, 0);
 }

 #menu-toggle:checked+.menu-button-container .menu-button::after {
     margin-top: 0px;
     transform: rotate(-405deg);
 }

 @media (max-width: 960px) {
     .menu-button-container {
         display: flex;
     }

     .menu {
         display: block;
         position: absolute;
         top: 0;
         margin-top: 75px;
         left: 0;
         flex-direction: column;
         width: 100%;
         justify-content: center;
         align-items: center;
     }

     #menu-toggle~.menu li {
         height: 0;
         margin: 0;
         padding: 0;
         border: 0;
         transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
     }

     #menu-toggle:checked~.menu li {
         border: 1px solid rgb(241, 171, 171);
         height: 2.5em;
         padding: 0.5em;
         transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
         opacity: 0.95;
     }

     .menu>li {
         display: flex;
         justify-content: center;
         margin: 0;
         padding: 0.5em 0;
         width: 100%;
         color: rgb(226, 117, 117);
         background-color: white;
     }

     .menu>li:not(:last-child) {
         border-bottom: 1px solid black;
     }
 }

 li {
     list-style: none;
 }

 .breadcrumbs ul svg {
     width: 30px;
     color: red;
     vertical-align: middle;
 }

 .breadcrumbs {
     padding: 30px 50px;
     width: fit-content;
     margin: 0 auto;
 }

 .breadcrumbs ul {
     display: flex;
     align-items: center;
     padding: 0;
     margin: 0;
     gap: 10px;
 }

 .breadcrumbs ul a:hover {
     color: #000;
 }

 .breadcrumbs ul li:last-child a {
     font-weight: bold;
 }

 .breadcrumbs ul svg:hover {
     color: #000;
 }

@media (max-width: 960px){
 iframe {
     max-width: fit-content;
 }
}